body {
    background-color: #1F2528;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
}
/* Text */
h1 {
    font-size: 40px;
    color: #ff4040;
    font-weight: 900;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  h3 { 
      font-size: 18px;
      font-weight:100;
      color: white;
  }
  h6 {
    font-size: 11px;
    font-weight:100;
    color: white;
  }
  p {
    font-family: 'OpenSans', sans-serif;
    color: white;
  }
  
  /* Navigation bar */
  
  /* General */
  .customNav {
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 30px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: #ff4040;
      text-decoration: none;
      background:#ff4040;
  }
  
  /* Navigation links */
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
  }

  .heroimg {
    height: 600px;
  }

  .arrow {
      height: 110px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
  }
  .skillsimg {
    height: 200px;
    padding: 30px 100px 30px;
}
ul{
  margin: 0;
  padding: 0;
}
hr.dashed {
  border-top: 1px dashed #f2bd1e;
  width: 70%;
  align-items: center;
  }

  footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #4682B4;
    margin-top: 50px;
  }
  .bottomnavimg {
    height: 30px;
    padding: 20px;
}